<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Local Weather</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Timmana" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">

</head>


<body>
<div class="cover-container text-center">
    <h1 class="cover-heading">
      Local Weather
    </h1>

  <div class="container text-center">

    <h3 id="currLoc">Your Current Location</h3>
    <br/>

    <h2 id="city">Your City</h2>

    <br/>
    <h3>
      <b><span id="temp"></span><span id="tempUnit"></span></b><br/>
      <b><span id="humid"></span><span id="humidUnit"></span></b>
    </h3>
    <span><button class="btn btn-primary btn-xs" type="button" id="unitBtn"> Change Unit </button></span>
    <br/>
    <br/>
    <br/>

    <h3 id="description"></h3>
    <br/>
    <h2><i id="icon"></i><h2>
    <br/>

  </div>
</div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="static/js/index.js"></script>

</body>
</html>
